@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Dit is een pagina die nog moet ontworpen worden. Uitleg/ geschiedenis van de warme bakker. Evt met foto's </p>
