@model ContactViewModels
@{ 
    ViewBag.Title = "Concact Us";
}

<form method="post">
    <label asp-for="Name">Your Name:</label>
    <br />
<input asp-for="Name"/>
    <br />
    <label asp-for="Email">E-Mail:</label>
    <br />
    <input type="email" asp-for="Email" />
    <br />
    <label asp-for="Onderwerp">Onderwerp:</label>
    <br />
    <input type="text" asp-for="Onderwerp" />
    <br />
    <label asp-for="Message">Bericht: </label>
    <br />
    <textarea rows="4" asp-for="Message"></textarea>
    <br />W
    <input type="submit" value="Verstuur Bericht" />
</form>