@model ContactViewModels
@{ 
    ViewBag.Title = "Concact Us";
}
@section Scripts{ 
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
} 
<div class="col-md-6">
    <div class="card card-body bakcground-colory">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">Your Name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">E-Mail:</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Onderwerp">Onderwerp:</label>
                <input type="text" asp-for="Onderwerp" class="form-control" />
                <span asp-validation-for="Onderwerp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message">Bericht: </label>
                <textarea rows="4" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <button type="submit"class="btn btn-primary"><i class="fa fa-envelope"></i>Verstuur Bericht </button>
                <div class="text-success">@ViewBag.UserMessage</div>
            </div>
        </form>
    </div>
</div>

<div class="col-md-3 col-md-offset-1">
    <div>
        <h3>Adresgegevens</h3>
        <address>
            <h4>Pattisserie Benny-Steven</h4>
            <i class=" fa fa-map-marker"></i>  Manitobalaan 48, 8200 Brugge <br>
            <i class="fa fa-phone"></i> <a href="tel: +32050200000"> 050 20 00 00</a> <br />
            <i class="fa fa-envelope"></i> <a href="mailto:info@pattisserieBS.be"> info@pattiserieBS</a>


        </address>
    </div>
    <div>
        <h3>Openingsuren:</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Maandag: 05:45 - 18:00</li>
            <li class="list-group-item">Dinsdag: 05:45 - 18:00</li>
            <li class="list-group-item">Woensdag: 05:45 - 18:00</li>
            <li class="list-group-item">Donderdag: Gesloten.</li>
            <li class="list-group-item">Vrijdag: Gesloten</li>
            <li class="list-group-item">Zaterdag: 05:45 - 18:00</li>
            <li class="list-group-item">Zondag: 05:45 - 14:00</li>
        </ul>


    </div>
</div>

   
